body {
    background-color: rgba(0, 162, 255, 0.342); 
  }
  p.title{background-color: currentColor;
}
  h1 {
    color: black;
    text-align: center;
      }
  h1 {font-size: 2.5em;
    }
  p {
    font-family: "calibri";
    font-size: 25px;
  }
  p{margin: 0;
}
ul{
    text-align: center;
    }